body {
    text-align: center;
    #formularios {
        margin: auto;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
            width: 450px;
        }
    }
}